* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	min-width: 1024px;
	max-width: 1600px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.header {
	padding: 5px;
}
.content {
	padding: 0 0 40px;
}
.footer {
	margin: -40px auto 0;
	min-width: 1024px;
	max-width: 1600px;
	height: 40px;
	padding: 5px;
	position: relative;
}